<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자기소개 페이지</title>
    <link rel="stylesheet" href="/static/profile.css">
</head>

<body>
    <main class="main">
        <div class="profile">
            <div class="picture__box">
                <h2>이창현</h2>
                <h3>BoB 13기 제품개발트랙</h3>
                <img src="/static/assets/profile_pic.png" alt="profile__picture">
                <p>BoB에서 열심히 공부하고 있습니다. <br>
                    주어진 일에 항상 최선을 다하겠습니다. 감사합니다.
                </p>
            </div>
            <div class="info__box">
                <div class="img__box">
                    <div><img src="/static/assets/phone.png" alt="phone"></div>
                    <div><img src="/static/assets/email.png" alt="email"></div>
                    <div><img src="/static/assets/address.png" alt="address"></div>
                    <div><img src="/static/assets/github.png" alt="github"></div>
                </div>
                <div class="my__info">
                    <div>010-8531-9558</div>
                    <div>dlckdgus200011@gmail.com</div>
                    <div>경기도 용인시 기흥구</div>
                    <div><a href="https://github.com/eeche" target="_blank">https://github.com/eeche</a></div>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <p>Copywrite 2024. LeeChangHyun. all rights reserved.</p>
    </footer>
</body>

</html>
